<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    

    <title>Larry G Wapnitsky</title>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    

      <script src="/js/script.js"></script>


      <!--- matomo links for larry.wapnitsky.com --->
      <!-- Matomo -->
      <script type="text/javascript">
	var _paq = window._paq = window._paq || [];
	/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
	_paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
	    var u="https://matomo.wapnitsky.com/";
	    _paq.push(['setTrackerUrl', u+'matomo.php']);
	    _paq.push(['setSiteId', '9']);
	    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
	})();
      </script>
      <noscript><p><img src="https://matomo.wapnitsky.com/matomo.php?idsite=9&amp;rec=1" style="border:0;" alt="" /></p></noscript>
      <!-- End Matomo Code -->

    </head>
  <body class="position-relative" data-spy="scroll" data-target=".site-nav" data-offset="55">
    <nav class="site-nav family-sans navbar navbar-expand-md navbar-dark  fixed-top  py-0">
  <div class="container-fluid">
    <button type="button" class="navbar-toggler my-2 my-md-0" data-toggle="collapse" data-target="#myTogglerNav" aria-controls="myTogglerNav" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-brand text-uppercase">
      <a class="text-light" href="/"><i class="fas fa-cube mr-2"></i>Larry G Wapnitsky</a> 
    </div>

    <div class="collapse navbar-collapse text-center mt-0" id="myTogglerNav">
      <div class="navbar-nav ml-auto font-weight-regular text-uppercase">
        
        <a class="d-none nav-item nav-link" href="#page-hero">hero target</a>
        <a class="d-none nav-item nav-link" href="#main-content">nav target</a>
        
        <a class="nav-item nav-link font-weight-bold  text-light" href="/"><i class="fas fa-home"></i></a>
        
          <a class="nav-item nav-link" href="/the_lab/0/">the lab</a>
          
          <a class="nav-item nav-link" href="/posts/0/">posts</a>
          <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Projects
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">




          </div>
        </div>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item text-capitalize" href="/about">About Me</a>
            <div class="dropdown-divider"></div><a class="dropdown-item text-capitalize" target="_blank" href="https://github.com/lgwapnitsky">
            <i class="fab fa-github text-secondary mr-2"></i>github
          </a><a class="dropdown-item text-capitalize" target="_blank" href="https://linkedin.com/in/larry.g.wapnitsky">
            <i class="fab fa-linkedin text-secondary mr-2"></i>linkedin
          </a><a class="dropdown-item text-capitalize" target="_blank" href="https://twitter.com/lgwapnitsky">
            <i class="fab fa-twitter text-secondary mr-2"></i>twitter
          </a><a class="dropdown-item text-capitalize" target="_blank" href="https://www.instagram.com/larrygwapnitsky">
            <i class="fab fa-instagram text-secondary mr-2"></i>instagram
          </a><a class="dropdown-item text-capitalize" target="_blank" href="https://www.youtube.com/channel/UCLRe9uErUM8M3G0AZ2SO1Mw">
            <i class="fab fa-youtube text-secondary mr-2"></i>youtube
          </a><a class="dropdown-item text-capitalize" target="_blank" href="https://reddit.com/u/larrygwapnitsky">
            <i class="fab fa-reddit text-secondary mr-2"></i>reddit
          </a></div>
        </div>
      </div>
      <div class="searchbox pl-2 py-2">
    <input
      type="text"
      v-model="query"
      class="form-control text-white border m-auto"
      :class="[isActive ? 'wide' : 'short']"
      @focus="isActive=true"
      @blur.prevent="handleBlur"
      ref="searchinput"
      style="background: transparent;"
      aria-describedby="searchinput"
      autocomplete="off"
    >
    <div v-if="query && isActive" class="position-absolute justify-content-center" style="top: 47px;">
      <div class="card bg-secondary">
        <ul class="list-group list-group-flush px-0" v-for="(item, index) in queried" :key="index">
          <li class="list-group-item">
            <a :href="item.url" class="d-flex text-secondary">
              <span class="pr-2" v-html="item.icon"></span>
              <span class="text-body text-left" v-html="item.title"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>
    </div>
  </div>
</nav>

    
<link href="https://github.com/lgwapnitsky" rel="me">


<header id="page-hero" class="site-header position-relative  site-header" style="width: 100vw; min-height: 50vh;">
<section class="layout-hero position-absolute d-flex align-items-center"  style="background-image: linear-gradient(rgba(0, 0, 0, .7) 50px, transparent), url(images/busy-mind.jpg); height: 100%; width: 100%; filter: blur(0);" ></section>
<div class="layout-hero-content position-absolute d-flex align-items-center" style="height: 100%; width: 100%;">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="header-content col-11 col-sm-10 col-md-9 animated fadeInUp">
        <h1 class="page-section-title text-light">Larry G Wapnitsky</h1>
        <p class="page-section-text text-light">
           The Random Ramblings and Thoughts<br>
           That Flood My Mind and Make Me Tick
<!--        <div><a class="btn btn-lg btn-outline-light" href="https://github.com/planetoftheweb/seven">Github Repo</a></div>
        -->
      </div>
    </div>
  </div>
</div>
</header>


<article id="main-content" class="page-home site-main container"

>






<div class="row">
  <div class="main-content col-md-9">
    <h4 class="family-sans text-secondary mt-2 mb-4 px-3 px-sm-0">Latest Posts</h4>
    

  

  <div class="row justify-content-center px-3 px-sm-0 my-5  mb-3 ">
    
      <div class="col-md-3">
        <a href="/posts/2021-01-14-pause-and-effect/" class="d-block mb-1"  >
          <img class="item-title shadow-lg w-100 img-fluid rounded" src="/images/posts/pause_button.png" alt="Pause and Effect image">
        </a>
      <time class="item-date small d-block text-body" datetime="Jan 14, 2021">Jan 14, 2021</time>
      </div>
    

    <div class="col-md-9">
      <a href="/posts/2021-01-14-pause-and-effect/" class="item-title h2 d-block" >Pause and Effect
      
      </a>
      <p class="item-summary lead mb-1 text-body">What happened in the first 2 weeks of the year that cause me to temporarily pause my workouts? While partially physical, most of it was mental. Here's the next steps...</p>
      
  

      <div class="tagslist d-none d-lg-block mt-2">
  
    <a href="/tags/health/" class="badge badge-special">health</a>
    <a href="/tags/fitness/" class="badge badge-special">fitness</a>
</div>
    </div>
  </div>
    
    

  

  <div class="row justify-content-center px-3 px-sm-0 my-5  my-md-huge ">
    
      <div class="col-md-3">
        <a href="/posts/2021-01-04-the-weight-is-over/" class="d-block mb-1"  >
          <img class="item-title shadow-lg w-100 img-fluid rounded" src="/images/posts/health/scale.png" alt="The Weight Is Over...By A Lot image">
        </a>
      <time class="item-date small d-block text-body" datetime="Jan 04, 2021">Jan 04, 2021</time>
      </div>
    

    <div class="col-md-9">
      <a href="/posts/2021-01-04-the-weight-is-over/" class="item-title h2 d-block" >The Weight Is Over...By A Lot
      
      </a>
      <p class="item-summary lead mb-1 text-body">Restarting the fitness journey, I decided to step on the scale this morning. What I saw was not what I wanted, so it's time to aim for my goals.</p>
      
  

      <div class="tagslist d-none d-lg-block mt-2">
  
    <a href="/tags/health/" class="badge badge-special">health</a>
    <a href="/tags/fitness/" class="badge badge-special">fitness</a>
</div>
    </div>
  </div>
    
    

  

  <div class="row justify-content-center px-3 px-sm-0 my-5  my-md-huge ">
    
      <div class="col-md-3">
        <a href="/posts/2021-01-03-hot-chip-deception-tteokbokki/" class="d-block mb-1"  >
          <img class="item-title shadow-lg w-100 img-fluid rounded" src="/images/posts/snacks/tteokbokki_front_rotated.png" alt="Chips of deception - Tteokbokki image">
        </a>
      <time class="item-date small d-block text-body" datetime="Jan 03, 2021">Jan 03, 2021</time>
      </div>
    

    <div class="col-md-9">
      <a href="/posts/2021-01-03-hot-chip-deception-tteokbokki/" class="item-title h2 d-block" >Chips of deception - Tteokbokki
      
      </a>
      <p class="item-summary lead mb-1 text-body">Looked hot...was not. Going by the packaging alone, I expected these to kill my tastebuds, but mild disappointment was all I got.</p>
      
  

      <div class="tagslist d-none d-lg-block mt-2">
  
    <a href="/tags/food/" class="badge badge-special">food</a>
    <a href="/tags/chips/" class="badge badge-special">chips</a>
    <a href="/tags/snacks/" class="badge badge-special">snacks</a>
</div>
    </div>
  </div>
    
    

  

  <div class="row justify-content-center px-3 px-sm-0 my-5  my-md-huge ">
    
      <div class="col-md-3">
        <a href="/posts/2021-01-01-Happy-New-Year/" class="d-block mb-1"  >
          <img class="item-title shadow-lg w-100 img-fluid rounded" src="/images/posts/happy-new-year-2021-new-820x554.png" alt="A Very Happy New Year To You image">
        </a>
      <time class="item-date small d-block text-body" datetime="Jan 01, 2021">Jan 01, 2021</time>
      </div>
    

    <div class="col-md-9">
      <a href="/posts/2021-01-01-Happy-New-Year/" class="item-title h2 d-block" >A Very Happy New Year To You
      
      </a>
      <p class="item-summary lead mb-1 text-body">What's in store for me in the coming year? How do I plan to educate and improve myself?</p>
      
  

      <div class="tagslist d-none d-lg-block mt-2">
  
    <a href="/tags/New Year/" class="badge badge-special">New Year</a>
    <a href="/tags/Education/" class="badge badge-special">Education</a>
    <a href="/tags/Self-Improvement/" class="badge badge-special">Self-Improvement</a>
</div>
    </div>
  </div>
    
    

  

  <div class="row justify-content-center px-3 px-sm-0 my-5  my-md-huge ">
    
      <div class="col-md-3">
        <a href="/posts/2020-12-22-the-chips-are-on-the-table/" class="d-block mb-1"  >
          <img class="item-title shadow-lg w-100 img-fluid rounded" src="/images/posts/snacks/tikha_ganthia_bag.png" alt="The Chips Are On The Table/Hot Tikha Ganthia image">
        </a>
      <time class="item-date small d-block text-body" datetime="Dec 22, 2020">Dec 22, 2020</time>
      </div>
    

    <div class="col-md-9">
      <a href="/posts/2020-12-22-the-chips-are-on-the-table/" class="item-title h2 d-block" >The Chips Are On The Table/Hot Tikha Ganthia
      
      </a>
      <p class="item-summary lead mb-1 text-body">I do most of the shopping for the family, making as few trips as possible due to the pandemic. Therefore, I get to choose some of the fun treats that get brought home occasstionally. My new habit is to find interesting-flavored snacks from around the world and try them. So, why not write about them?</p>
      
  

      <div class="tagslist d-none d-lg-block mt-2">
  
    <a href="/tags/food/" class="badge badge-special">food</a>
    <a href="/tags/chips/" class="badge badge-special">chips</a>
    <a href="/tags/snacks/" class="badge badge-special">snacks</a>
</div>
    </div>
  </div>
    
    

  

  <div class="row justify-content-center px-3 px-sm-0 my-5  my-md-huge ">
    
      <div class="col-md-3">
        <a href="/posts/2020-12-15-back-to-blogging/" class="d-block mb-1"  >
          <img class="item-title shadow-lg w-100 img-fluid rounded" src="/images/posts/reset-300x234.jpg" alt="I&#39;m back to blogging image">
        </a>
      <time class="item-date small d-block text-body" datetime="Dec 15, 2020">Dec 15, 2020</time>
      </div>
    

    <div class="col-md-9">
      <a href="/posts/2020-12-15-back-to-blogging/" class="item-title h2 d-block" >I'm back to blogging
      
      </a>
      <p class="item-summary lead mb-1 text-body">It's been a while since I've worked on my blog, but there's no better time than now to refresh the way it looks and to start writing again.</p>
      
  

      <div class="tagslist d-none d-lg-block mt-2">
  
    <a href="/tags/blog/" class="badge badge-special">blog</a>
    <a href="/tags/starting_over/" class="badge badge-special">starting_over</a>
</div>
    </div>
  </div>
    </div>
  <div class="main-sidebar col-md-3">
    <h4 class="text-secondary mt-2 mb-4 px-3 px-sm-0">New From The Lab</h4>
    
    
    

<div class="px-3 px-sm-0  mb-3 ">
  
  
  <a href="/the_lab/2020-12-15-what-is-the-lab/" class="w-100 d-none d-lg-block mb-1" ><img class="w-100  shadow-lg img-fluid rounded" src="/images/posts/person-having-ideas-as-light-bulbs-metaphor.jpg" alt="What exactly is &#39;The Lab&#39;? photo"></a>
  
  <time class="small d-none d-lg-block text-body" datetime="Invalid DateTime">Dec 15, 2020</time>
  <a href="/the_lab/2020-12-15-what-is-the-lab/" class="h4 d-block my-1" >What exactly is &#39;The Lab&#39;?</a>
  <p class="mb-1  text-body d-none d-lg-block">My workshop. My messy desk. My computers. My kitchen. And more...</p>
  
  

  <div class="mt-1"><div class="tagslist d-none d-lg-block mt-2">
  
    <a href="/tags/lab/" class="badge badge-special">lab</a>
</div></div>
</div>
    </div>
</div>

</article>

    <footer class="site-footer bg-transparent pb-3 pb-md-5">
      <div class="layout-social container d-flex justify-content-center">

  

  

  

  

  

  

  

  

</div>
    </footer>
  </body>

</html>
